mixin btn-icon(text, svg, href)
    a(href=href).button.button-with-icon&attributes(attributes)= text
        span.button-icon
            svg(class='svg-icon-'+svg)
                use(xlink:href='common/new/icons.svg#icon-'+svg)

mixin btn-icon-inv(text, svg, href)
    a(href=href).button-invert.button-with-icon&attributes(attributes)= text
        span.button-icon
            svg(class='svg-icon-'+svg)
                use(xlink:href='common/new/icons.svg#icon-'+svg)

mixin btn-menu-icon(text, svg, href)
    a(href=href).button-menu&attributes(attributes)
        span.button-menu-icon
            svg(class='svg-icon-'+svg)
                use(xlink:href='common/new/icons.svg#icon-'+svg)
        //| #{text}
        = text

mixin btn(text, href)
    a(href=href).button&attributes(attributes)= text

mixin btn-inv(text, href)
    a(href=href).button-invert&attributes(attributes)= text

mixin btn-text(text, href)
    a(href=href).btn-text&attributes(attributes)= text

mixin btn-text-icon(text, svg, href)
    a(href=href).btn-text-icon&attributes(attributes)= text
        span
            svg(class='svg-icon-'+svg)
                use(xlink:href='common/new/icons.svg#icon-'+svg)


mixin btn-tab(text, href)
    a(href=href).btn-tab&attributes(attributes)= text

mixin btn-tab-inv(text, href)
    a(href=href).btn-tab-inv&attributes(attributes)= text